* {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------- */
/* !-------------------------------cabecera------------------- */
body {
    background: url('https://s1.1zoom.me/big7/915/Star_Wars_The_Force_502760.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
}

main {
    text-align: center;
}

/* --------------configuraciones generales------------------- */
@font-face {
    font-family: 'rancho';
    src: url('../assets/fonts/Rancho-Regular.ttf');
}

header img {
    width: 20rem;
    /* rem es una medida relativa 1 rem equivale a 16px */
}

/*?--------------------------contenido principal-----------*/
/* contenedor principal de pokemons */
.main__buttons {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: center;
    gap: 10px;
}

#main__container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: center;
    gap: 10px;
}

#films {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    
}

#people {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    height: 5px;
    
}



.btn {
    font-size: 5em;
    text-align: center;
    padding: 12px 20px;
    background-color: #f5f100;
    color: black;
    border: 3px solid white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.5s opacity ease;
    opacity: 1;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card {
    border-radius: 30px;
    text-align: center;
    border: 0.2rem solid rgb(226, 226, 226);
    padding: 15px 20px;
    background-color: #1ABC9C;
}

.card:hover {
    cursor: pointer;
    opacity: 0.8;
    color: black;
}

/* todo------------------pie de pagina------------ */

/* detalle de la tarjeta */

.card__detail {
    border-radius: 5%;
    border: 0.7rem solid rgb(0, 0, 0);
}

footer {
    margin-top: 500px;
    text-align: center;
    font-size: 1rem;
    background-color: #29271E;
    color: white;
}

h1 {
    font-size: 5em;
    text-align: center;
    color: #000000;
    top: 50%;
    left: 50%;

    margin: 0;
    padding: 0;

}

/* @media(width <=320px) {
    #films {
        grid-template-columns: repeat(1, 15rem);

    }
}

@media(width >=768px) {
    #films {
        grid-template-columns: repeat(2, 15rem);

    }
}

@media(width >=1024px) {
    #films {
        grid-template-columns: repeat(1, 15rem);

    }

}

@media(width >=2560px) {
    #films {
        grid-template-columns: repeat(8, 15rem);

    }
} */


@media(width >=1024px) {
    #films {
        grid-template-columns: repeat(1, 15rem);

    }
}
